source/*
!source/English
!source/TED_forms_templates_R2.0.8
!source/TED_forms_templates_R2.0.9
!source/Forms labels R2.09.csv
source/TED_forms_templates_R2.0.8/*.txt
source/TED_forms_templates_R2.0.9/*.txt
.~lock*
