source/*
!source/English
!source/TED_forms_templates_R2.0.8
!source/TED_forms_templates_R2.0.9
!source/Forms labels R2.09.csv
!source/Task 5_Support_Standard Forms-eForms mappings_v.3.zip
source/TED_forms_templates_R2.0.8/*.txt
source/TED_forms_templates_R2.0.9/*.txt
/scripts/*.csv
/scripts/*.json
/.bundle
/vendor
.~lock*
